body{
  background-image: radial-gradient(circle,rgb(247, 247, 247), rgb(83, 78, 78), rgb(0, 0, 0));
}
  .nav_menu {
    overflow:hidden;
    background-color: #333;
    
  }
  .nav_menu  a{
    float: left;
    display: block;
    color:white;
    text-align:center;
    padding: 14px 16px;
      text-decoration:none;
  }
  .nav_menu a:hover{
    background-color: white;
    color:green;
  }
  
  h1 {
    font-family: 'Arial black', sans-serif;
    font-size: 100px;
    position: absolute;
    margin: auto 0;
    color: rgb(26, 86, 197);
    line-height: 90%;
    text-transform: uppercase;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80vw;
    text-align: center;
    font-weight: bolder;
    text-shadow: 0px 100px 0px black;

  }
  .container {
    position: absolute;
    height: 250px;
    width: 250px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(1.6);
  }
  .book {
    animation: fly 5s linear infinite;
  }
  @keyframes fly {
    0% {transform: translate(0,0)}
    33% {transform: translate(0px,-2px)}
    66% {transform: translate(0px,2px)}
    100% {transform: translate(0,0)}
  } 
  .magicbook {
    width: 250px;
    position: absolute;
  }
  
